@import "tailwindcss";

@theme {
    --font-sans: InterVariable, sans-serif;
    --font-sans--font-feature-settings: 'cv02', 'cv03', 'cv04', 'cv11';
}

@plugin "daisyui" {
    themes: dracula;
    root: ":root";
    include: ;
    exclude: ;
    prefix: ;
    logs: true;
}